html {
    font-family: sans-serif;
    font-size: 65%;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(wood.jpg);
}


/*-------------- GLOBAL ------------*/

main {
    background-color: #fff;
    width: 80%;
    margin: auto;
    font-size: 1.6rem;
}

h1 {
    margin: 0;
    font-size: 5rem;
    padding-top: 30px;
}

h2 {
    font-size: 3rem;
}


  /* FOOTER */

  footer {
    background-color: #333;
    opacity: 90%;
    color: #fff;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 2%;
    font-size: 1.2rem;
}

.social-links img{
    margin: 1% 10px;
    border-radius: 7px;
}

.footer-text a{
      color:#8ed5ff;
      text-decoration: none;
}


/* NAVBAR */
.top-navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }

  .nav-left, .nav-right {
      padding: 0 5%;
  }

  .nav-left a{
      float: left;
  }

  .nav-right a{
      float: right;
  }
  
  .top-navbar a {
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .caret-down {
    font-size: 1rem;
    margin-left: 5px;
  }
  
  .dropdown .dropbtn {
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  .top-navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: #8ed5ff;
    color: #000;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /* INDEX PAGE */

  .head{
      display: flex;
      width: fit-content;
      margin: auto;
  }

  .head-image {
      flex: left;
  }

  .head-text {
    text-align: center;
  }


  /* SLIDESHOW */

  .image-slideshow {
      width: 100%;
  }

  .image-slideshow img {
      width: 100%;
      margin: 50px auto 0 auto;
  }

  /* SUBSCRIPTION FORM */

  .index-form {
      margin: auto;
      font-size: 1.6rem;
      width: 100%;
      background-color: #ddd;
      padding: 2% 0;
  }

  .newsletter {
      display: block;
      text-align: center;
      font-weight: bold;
      padding-bottom: 2%;
  }

  .index-form form {
      display: block;
      width: fit-content;
      margin: auto;
  }

  #email {
      text-align: center;
      font-size: 1.6rem;
      padding: 5px;
      width: 300px;
      border-radius: 5px;
      margin: 1% auto;
  }

  .subscribe {
      display: block;
      margin: auto;
      font-size: 1.6rem;
  }

/*---------------- CONTACT PAGAE -------------*/

.center {
    text-align: center;
}

.contact-left {
    width: 40%;
    float: left;
    margin-left: 10%;
}

.contact-text {
    line-height: 30px;
    width: fit-content;
}

.form {
    float: left;
    padding: 5% 10%;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 2px solid gray;
}

.form label{ 
    display: block;
    margin-bottom: 16px;
    float: left;
}

#name, #email-addy{
    display: block;
    margin-bottom: 10px;
    font-size: 1.6rem;
    float: right;
}

#message {
    font-family: sans-serif;
    font-size: 1.6rem;
}

.contact-form {
    margin-top: 10%;
}

.send-btn {
    text-align: center;
    display: block;
    margin: 2% auto;
    width: 25%;
}

.contact-right {
    transform: rotate(10deg);
    margin-top: 5%;
    width: 45%;
    float: right;
    background-color: #fff;
    padding: 30px 20px 75px 20px;
    box-shadow: 0 0 10px #999;
}

.contact-right img{
    width: 100%;
    border: 1px solid #bebebe;
}

.caption{
    text-align: center;
    margin: 20px auto 0;
}

h2 {
    padding: 5% 0;
    clear: both;
}


/* ABOUT PAGE */

.about-outer {
    width: 70%;
    background-image: url('plaid.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 5% auto;
    padding: 30px 30px;  /* I am going for a plaid border look with .about-inner being a white div on top*/
    border: 1px solid magenta;
    box-shadow: 0 0 5px #333;
}

.about-inner {
    background-color: #fff;
    margin: auto;
    width: fit-content;
    padding: 15px;
    border: 1px solid #333;
}

.sig {
    /* Change font to a fancy cursive font for signature.*/
}




/* ------------ REVIEWS PAGE ------------ */


.review-wrapper {
    width: 60%;
    margin: auto;
}

.reviewcard {
    margin: 50px auto;
    box-shadow: 0 0 3px #333;
    border-radius: 5px;
    padding: 20px;
}

.reviewer p{
    text-align: right;
}